@import url(weather.css);

.body-wideMargin {
  margin: 50px;
  font-size: 100%;
  line-height: 1.5;
  font-family: Roboto;
}
button{
  padding:5px;
}

ol {

  list-style-type: decimal-leading-zero;
}

ol ol {
  margin-left: 0.9em;
}

ol li {

  line-height: 1.5;
}


h1 {
  font-family: "Fjalla One", sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 400;
  border-bottom: 1px solid black;
  margin-bottom: 1em;
}

.front, .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 320px;
  box-shadow: 0 4px 8px 0 rgb(255, 255, 255), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  backface-visibility: hidden;
}

.front{
  z-index:2;
}

img {
  width: 100%;
}

a {
  color: rgb(0, 0, 0)
}

p.caption {
  position: absolute;
  bottom: 1vh;
}

.description {
  font-size: 0.9em;
  padding: 0 20px 20px 20px;
  text-align: left;
}

.back {
  transform: rotateY(180deg);
}

.flipper {
  position: relative;
  transition: 0.6s;
  transform-style: preserve-3d;
}