

*{
    font-family: "Rimouski";
}


.container{
    width: 300px;    
    background-color: #FFF;
    
    display: block;
    margin: 0 auto;
    
    border-radius: 10px;
    padding-bottom : 50px;
}

.app-title{
    width: 300px;
    height: 50px;
    border-radius: 10px 10px 0 0;
}

.app-title p{
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    font-size: 1.2em;
    color: #063449;
}

.notification{
    background-color: #f8d7da;
    display: none;
}

.notification p{
    color: #721c24;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}

.weather-outer-container{
    width: 300px;
    height: 260px;
    background-color: #F4F9FF;
}

.weather-icon{
    width: 70px;
    height: 70px;
}

.weather-icon img{
    display: block;
    margin: 0 auto;
    margin-left: 170%;
    width: 70px;
    height: 70px;
}

.temperature-value{
    width: 300px;
    height:60px;
    text-align: center;
    cursor: pointer;
    color: #063449;
    font-size: 0.8em;
    
}

.temperature-value p{
    padding: 0;
    margin: 0;
    color: #063449;
    font-size: 4em;
    text-align: center;
    cursor: pointer;
}

.temperature-value span{
    color: #063449;
}

.temperature-description p{
    padding: 8px;
    margin: 0;
    color: #063449;
    text-align: center;
    font-size: 1.2em;
}

.location p{
    margin: 0;
    padding: 0;
    color: #063449;
    text-align: center;
    font-size: 0.8em;
}





